{:highlights [{:id #uuid "66679eaa-0eb1-46de-8cd6-dfefefa17c55",
               :page 4,
               :position {:bounding {:x1 109.609375,
                                     :y1 458.546875,
                                     :x2 673.7822265625,
                                     :y2 611.75,
                                     :width 782.9999999999999,
                                     :height 1107.3852633064325},
                          :rects ({:x1 136.3125,
                                   :y1 458.546875,
                                   :x2 673.7367553710938,
                                   :y2 474.546875,
                                   :width 782.9999999999999,
                                   :height 1107.3852633064325}
                                  {:x1 109.609375,
                                   :y1 478.15625,
                                   :x2 673.7684936523438,
                                   :y2 494.15625,
                                   :width 782.9999999999999,
                                   :height 1107.3852633064325}
                                  {:x1 109.609375,
                                   :y1 497.75,
                                   :x2 673.0148315429688,
                                   :y2 513.75,
                                   :width 782.9999999999999,
                                   :height 1107.3852633064325}
                                  {:x1 109.609375,
                                   :y1 517.359375,
                                   :x2 673.7591552734375,
                                   :y2 533.359375,
                                   :width 782.9999999999999,
                                   :height 1107.3852633064325}
                                  {:x1 109.609375,
                                   :y1 536.953125,
                                   :x2 673.76123046875,
                                   :y2 552.953125,
                                   :width 782.9999999999999,
                                   :height 1107.3852633064325}
                                  {:x1 109.609375,
                                   :y1 556.5625,
                                   :x2 673.7598876953125,
                                   :y2 572.5625,
                                   :width 782.9999999999999,
                                   :height 1107.3852633064325}
                                  {:x1 109.609375,
                                   :y1 576.15625,
                                   :x2 673.7822265625,
                                   :y2 592.15625,
                                   :width 782.9999999999999,
                                   :height 1107.3852633064325}
                                  {:x1 109.609375,
                                   :y1 595.75,
                                   :x2 550.0653076171875,
                                   :y2 611.75,
                                   :width 782.9999999999999,
                                   :height 1107.3852633064325}),
                          :page 4},
               :content {:text "The lightning flash initiated with two upward negative leaders. It is considered that two negative leaders initiated in the negative charge region, then went upward to an upper positive charge. On the other hand, a positive leader can be simultaneously produced with NL1 and NL2. Although it is difficult to detect the progression of positive leaders in the LF band, positive leaders can be detected by a recoil leader. We conjugate that the LF activities detected around the detection site are associated with a positive leader progression and/or a subsequent recoil leader. In this case, the positive downward leader could have proceeded to the glow-producing region, reduced negative charges above the observation site, and then terminated the gamma-ray glow."},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
