{:highlights [{:id #uuid "66e7d2d1-ebe6-4069-a8d0-638ea5569da2",
               :page 1,
               :position {:bounding {:x1 79.375,
                                     :y1 440.484375,
                                     :x2 586.3934326171875,
                                     :y2 602.03125,
                                     :width 666,
                                     :height 861.8823529411764},
                          :rects ({:x1 143.3234100341797,
                                   :y1 440.484375,
                                   :x2 585.6923675537109,
                                   :y2 454.484375,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 455.21875,
                                   :x2 586.03173828125,
                                   :y2 469.21875,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 470.046875,
                                   :x2 586.3641357421875,
                                   :y2 484.046875,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 484.78125,
                                   :x2 586.37158203125,
                                   :y2 498.78125,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 499.515625,
                                   :x2 586.265869140625,
                                   :y2 513.515625,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 514.25,
                                   :x2 586.2565307617188,
                                   :y2 528.25,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 529.078125,
                                   :x2 586.0938720703125,
                                   :y2 543.078125,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 543.8125,
                                   :x2 586.3489990234375,
                                   :y2 557.8125,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 558.5625,
                                   :x2 586.2857666015625,
                                   :y2 572.5625,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 573.296875,
                                   :x2 586.3934326171875,
                                   :y2 587.296875,
                                   :width 666,
                                   :height 861.8823529411764}
                                  {:x1 79.375,
                                   :y1 588.03125,
                                   :x2 133.640625,
                                   :y2 602.03125,
                                   :width 666,
                                   :height 861.8823529411764}),
                          :page 1},
               :content {:text "Recent measurements by various antenna arrays like LOPES, CODALEMA, AERA, LOFAR, Tunka-Rex, and others have shown that radio measurements can compete in precision with other established techniques, in particular for the arrival direction, the energy, and the position of the shower maximum, which is one of the best estimators for the composition of the primary cosmic rays. The scientiﬁc potential of the radio technique seems to be maximum in combination with particle detectors, because this combination of complementary detectors can signiﬁcantly increase the total accuracy for air-shower measurements. This increase in accuracy is crucial for a better separation of diﬀerent primary particles, like gamma-ray photons, neutrinos, or diﬀerent types of nuclei, because showers initiated by these particles diﬀer in average depth of the shower maximum and in the ratio between the amplitude of the radio signal and the number of muons. "},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
